doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" ,content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/tabulator.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel="icon",href="/images/favicon.ico",type="/images/favicon.ico")
    title= title
    
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NK94GPN');
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NK94GPN",height="0",width="0",style="display:none;visibility:hidden")
    if login != true
      header.d-none.d-sm-block.d-none.d-sm-block(class="py-2")
        div(class="container d-flex flex-wrap justify-content-center")
          a(href="/",class="d-flex align-items-center mb-lg-0 me-lg-auto text-dark text-decoration-none")
            img(src='/images/820667204.png',style="height: 70px;")
    block scripts
      script(src='/bootstrap/js/bootstrap.min.js')
      script(src='/axios/axios.min.js')
      script(src="/javascripts/tabulator.min.js")
      script(src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js")
      script(src="/javascripts/sweetalert.min.js")    
      script(async src="https://www.googletagmanager.com/gtag/js?id=G-38C3JH83T3")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-38C3JH83T3');
    block content
    div(class='container',style="margin-top: 100px;")
      nav(class="navbar navbar-light bg-light")
        div(class="container")
          footer(class="row")
            div(class="col-12")
              ul
                li Phro：(+886) 2-7738-8000 OR (+886) 2-7738-0145 
                li Address：No.58, Sec.2, Sihchuan Rd.,Banciao District, New Taipei City 220303, Taiwan (R.O.C)
    script.
      if(document.getElementById('logForm') !== null) {
        document.getElementById('logForm').addEventListener('submit', function (event) {
          event.preventDefault();
          event.stopPropagation();
          axios({
            method: "post",
            url: "/users",
            data: new FormData(document.getElementById('logForm'))
          })
          .then(function (response) {
            if(response.data.result == 1) {
              swal({title: "登入成功！",icon: "success",button: "確定"}).then((value) => {
                location.href = '/users' ;
              });
            } else {
              swal({title: response.data.errMsg,icon: "warning",button: "確定"})
            }
          })
          .catch(function (error) {
            swal({title: "伺服器發生錯誤。",icon: "warning",button: "確定"})
            console.log(error);
          });
        });
      }
