doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" ,content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel="icon",href="/images/favicon.ico",type="/images/favicon.ico")
    title= '網站訊息'
  body
    div(class='container text-center')
      img(src="/images/lockin.png" class="rounded mx-auto d-block" alt="...")
      h2 您的權限不足，無法使用此功能！
          a(href="/") 返回首頁