doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" ,content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/tabulator.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel="icon",href="/images/favicon.ico",type="/images/favicon.ico")
    title= title
    
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NK94GPN');
  body(style="text-align: center;")
    <div style="">
      <p style="font-size: 50px;">系統年度轉換中</p>
    </div>
    